.bp{margin-right: 300px;}


.md4{background-color: yellowgreen; border: 10px solid white;}
.md5{background-color: yellow; border: 10px solid white;}
.md6{background-color: grey; border: 10px solid white;}
.md7{background-color: black; border: 10px solid white;}
.ps{color: white;border: 10px solid white;}
.md8{background-color: red; border: 10px solid white;}
.md9{background-color: lightblue; border: 10px solid white;}
.md10{background-color: orange; border: 10px solid white;}
.md11{background-color: darkblue; color: white; border: 10px solid white;}
.md12{background-color: grey;}
.mdd7{color: white;}